<div class="index container">
	<header>
		<h1><strong>Данченков Михаил Алексеевич</strong>, океанограф <nobr style="white-space: nowrap">(2.1.1950 Сучан — Владивосток)</nobr></h1>
	</header>

	<div class="row main">
		<div class="col-12">
			<main>
				<h1>ПОКА Я ПОМНЮ</h1>
				<blockquote>
					<p>«Слова улетают, написанное остается».</p>
				</blockquote>

				<p>ЯМне — 70 лет. До этого возраста не дожили очень многие.</p>
				<p>И умные и достойные и талантливые. Например, среди актёров (если кто помнит): П.Луспекаев (42), В.Спиридонов (45), А.Миронов (46), В.Ивашов В.(46), А.Кайдановский (49), П.Алейников (51), Быков Л.(51), С.Лукьянов (55), Л.Филатов (57), Л.Харитонов (57), С.Столяров (58) и т.д.</p>
				<p>А уж, учёных, моряков, дальневосточников, которые умирают в молодом (с точки зрения японцев) возрасте очень много. Некоторых никто и не помнит. Так, было невозможно найти дату смерти и фотографии Г.М.Бирюлина — океанолога, писателя (единственного фантаста среди дальневосточников), штурмана и очень
				мудрого человека (он был у меня руководителем диплома).</p>
				<p>Не помнят, потому что все они воспоминаний не оставили. Зато моряка и кораблестроителя А.Н.Крылова, генерала П.Григоренко помнить будут, пока останется Россия. Потому что они воспоминания оставили. Конечно, важно, что им было, что сказать о своём прошлом и что они сумели написать об этом информативно и интересно. Но даже и не генерал (например, солдат) и не академик (например, аспирант) могут уже написать о том, что они видели и пережили — у каждого свой мир и свой опыт, поделиться которыми полезно не только для родственников, но и для соотечественников.</p>
				<p>В прошедшей жизни я был участником многих коллективов, институтов, команд, семей, отделов. Каждый был интересен. С кажым связаны интересные истории. Может быть, когда я умру, о них никто не вспомнит. Значит, это — мой долг.</p>
				<p>Я лишён многих достоинств, полон недостатками и в булочном ряду чувствую себя неуютно. Но, когда оказалось, что никто более не захотел вспомнить то время, те события и тех людей, к которым я был причастен, начал писать и я. Конечно, всей правды я не скажу: были в моей жизни глупости, ошибки и тайны. Кое-чего я стыжусь. Себя за ошибки и проступки оправдываю молодостью. Если кого и обижал, то ненамеренно. Это пусть останется со мной. Но и кроме этого мне есть, чем поделиться.</p>
				<p>Никто кроме меня не напишет про Чалбухан, пгт в Тенькинском районе Колымы. Я там жил, а его уже нет. Он долго строился — на Колыме строить трудно. Там были две школы, магазины, детский сад, большая ферма, капитальные дома. Там жили люди. И хотели жить дальше. Его уничтожили не фашисты, не бандеровцы и не коммунисты.</p>
				<p>Пришла банда Гайдара и начала уничтожать присутствие русских на Колыме. Теперь Чалбухана нет.</p>
				<p>Я начал собирать и собрал фотографии выпусков сш-1 Магадана и на их основе составил списки учеников и учителей школы. Сами фотографии были уничтожены (залиты кипятком) по небрежению. Эти списки сохраниться здесь.</p>
				<p>Составил также списки выпускников 1967 года в Тенькинской школе-интернате (я там пошёл в первый класс) и Ольской школы-интерната (я учился там в 8 классе). И фотографии, конечно. Они — документы истории и должны быть доступны людям.</p>
				<p>Я был первым аспирантом ТОИ ДВНЦ (но диссертацию защитил поздно), участником Спартакиады по горнолыжному спорту и нескольких дальневосточных Академиад. Я участвовал в знаменитом 6-м рейсе НИС «Дмитрий Менделеев» (к берегу Маклая). Я собирал (и собрал) много материала по русскому Харбину (здесь намерен выложить справочник «весь Харбин»).</p>
				<p>Но, конечно, больше всего на этом сайте будет материалов по региональной океанографии — результаты моего труда за многие годы.</p>
				<p>Я был среди трёх организаторов знаменитой международной программы КРИМС — изучения океанографии Японского моря, был первым участником проекта АРГО в России, был первым написавшим по ряду тем. Сами статьи разбросаны по разным местам. Здесь они соединятся. И, надеюсь, будут востребованы.</p>
				<p>Особый интерес вызовут мои рукописи, среди которых книга «Исследовательские суда России» и «Океанография Залива Петра Великого».</p>
				<p>Все фотографии на сайте — оригинальны и неповторимы.</p>
			</main>
		</div>
	</div>

	<!--<div class="row organizations section-title">
		<a href="/organizations/"><h2>Организации</h2></a>
	</div>
	<div class="row organizations cards">
		<div class="col-sm-12 col-md-6 col-lg-4">
			<a class="card" href="/organizations/schools">
				<section class="card-body">
					<h3>Школы</h3>
					<ul>
						<li>ТСШИ-воспоминания</li>
						<li>СШ-1 Магадана-воспоминания
							<ul>
								<li>список учеников</li>
								<li>список учителей</li>
							</ul>
							<li>Ольская ШИ</li>
						</ul>
					</section>
				</a>
			</div>
			<div class="col-sm-12 col-md-6 col-lg-4">
				<a class="card" href="/organizations/dvgu">
					<section class="card-body">
						<h3>ДВГУ</h3>
						<ul>
							<li>Воспоминания</li>
							<li>Однокурсники</li>
						</ul>
					</section>
				</a>
			</div>
			<div class="col-sm-12 col-md-6 col-lg-4">
				<a class="card" href="/organizations/dvnigmi">
					<section class="card-body">
						<h3>ДВНИГМИ</h3>
						<ul>
							<li>Воспоминания</li>
							<li>Состав экспедиций</li>
							<li>Эффективность работы НИС</li>
						</ul>
					</section>
				</a>
			</div>
			<div class="col-sm-12 col-md-6 col-lg-4">
				<a class="card" href="/organizations/toi">
					<section class="card-body">
						<h3>ТОИ</h3>
						<ul>
							<li>Воспоминания</li>
							<li>Состав экспедиций</li>
							<li>Эффективность работы НИС</li>
						</ul>
					</section>
				</a>
			</div>
		</div>

		<div class="row programs section-title">
			<a href="/programs/"><h2>Программы</h2></a>
		</div>
		<div class="row programs cards">
			<div class="col-sm-12 col-md-6 col-lg-4">
				<a class="card" href="/programs/argo">
					<section class="card-body">
						<h3>Арго</h3>
					</section>
				</a>
			</div>
			<div class="col-sm-12 col-md-6 col-lg-4">
				<a class="card" href="/programs/japan_sea">
					<section class="card-body">
						<h3>Японское море</h3>
					</section>
				</a>
			</div>
			<div class="col-sm-12 col-md-6 col-lg-4">
				<a class="card" href="/programs/peter_the_great_gulf">
					<section class="card-body">
						<h3>Залив Петра Великого</h3>
					</section>
				</a>
			</div>
			<div class="col-sm-12 col-md-6 col-lg-4">
				<a class="card" href="/programs/zolotoi_rog">
					<section class="card-body">
						<h3>Золотой рог</h3>
					</section>
				</a>
			</div>
			<div class="col-sm-12 col-md-6 col-lg-4">
				<a class="card" href="/programs/strait_of_laperouse">
					<section class="card-body">
						<h3>Пролив Лаперуза</h3>
					</section>
				</a>
			</div>
			<div class="col-sm-12 col-md-6 col-lg-4">
				<a class="card" href="/programs/tumangan">
					<section class="card-body">
						<h3>Туманган</h3>
					</section>
				</a>
			</div>
			<div class="col-sm-12 col-md-6 col-lg-4">
				<a class="card" href="/programs/strait_of_tartary">
					<section class="card-body">
						<h3>Татарский пролив</h3>
					</section>
				</a>
			</div>
		</div>

		<div class="row articles section-title">
			<a href="/articles/"><h2>Статьи и рукописи</h2></a>
		</div>
		<div class="row articles cards">
			<div class="col-sm-12 col-md-6 col-lg-4">
				<a class="card" href="/articles/manuscripts">
					<section class="card-body">
						<h3>Рукописи</h3>
					</section>
				</a>
			</div>
			<div class="col-sm-12 col-md-6 col-lg-4">
				<a class="card" href="/articles/newspaper">
					<section class="card-body">
						<h3>Газетные</h3>
					</section>
				</a>
			</div>
			<div class="col-sm-12 col-md-6 col-lg-4">
				<a class="card" href="/articles/reviews">
					<section class="card-body">
						<h3>Рецензии</h3>
					</section>
				</a>
			</div>
			<div class="col-sm-12 col-md-6 col-lg-4">
				<a class="card" href="/articles/biographic">
					<section class="card-body">
						<h3>Биографические</h3>
						<ul>
							<li>Гомоюнов Константин Азарьевич</li>
							<li>Бирюлин Гавриил Михайлович</li>
							<li>Майдель Эдуард Владимирович</li>
						</ul>
					</section>
				</a>
			</div>
		</div>

		<div class="row research section-title">
			<a href="/research/"><h2>Исследовательские суда</h2></a>
		</div>
		<div class="row research cards">
			<div class="col-sm-12 col-md-6 col-lg-4">
				<a class="card" href="/research/introduction">
					<section class="card-body">
						<h3>Введение</h3>
					</section>
				</a>
			</div>
			<div class="col-sm-12 col-md-6 col-lg-4">
				<a class="card" href="/research/history">
					<section class="card-body">
						<h3>История научного флота</h3>
					</section>
				</a>
			</div>
			<div class="col-sm-12 col-md-6 col-lg-4">
				<a class="card" href="/research/overview">
					<section class="card-body">
						<h3>Обзор литературы</h3>
					</section>
				</a>
			</div>
			<div class="col-sm-12 col-md-6 col-lg-4">
				<a class="card" href="/research/projects">
					<section class="card-body">
						<h3>Заводы и проекты</h3>
					</section>
				</a>
			</div>
			<div class="col-sm-12 col-md-6 col-lg-4">
				<a class="card" href="/research/numbers">
					<section class="card-body">
						<h3>Количество НИС</h3>
					</section>
				</a>
			</div>
			<div class="col-sm-12 col-md-6 col-lg-4">
				<a class="card" href="/research/scientific_vessels">
					<section class="card-body">
						<h3>Ведомственные суда</h3>
					</section>
				</a>
			</div>
			<div class="col-sm-12 col-md-6 col-lg-4">
				<a class="card" href="/research/names">
					<section class="card-body">
						<h3>Имена</h3>
					</section>
				</a>
			</div>
			<div class="col-sm-12 col-md-6 col-lg-4">
				<a class="card" href="/research/list">
					<section class="card-body">
						<h3>Список исследовательских судов</h3>
					</section>
				</a>
			</div>
		</div>

		<div class="row oceanography section-title">
			<a href="/oceanography/"><h2>Океанография и общество</h2></a>
		</div>
		<div class="row oceanography cards">
			<div class="col-sm-12 col-md-6 col-lg-4">
				<a class="card" href="/oceanography/usefulness">
					<section class="card-body">
						<h3>Польза науки о море. Имена</h3>
					</section>
				</a>
			</div>
			<div class="col-sm-12 col-md-6 col-lg-4">
				<a class="card" href="/oceanography/far_east">
					<section class="card-body">
						<h3>ДВ океанография</h3>
					</section>
				</a>
			</div>
			<div class="col-sm-12 col-md-6 col-lg-4">
				<a class="card" href="/oceanography/society">
					<section class="card-body">
						<h3>Океанографическое Общество</h3>
					</section>
				</a>
			</div>
			<div class="col-sm-12 col-md-6 col-lg-4">
				<a class="card" href="/oceanography/newspaper_articles">
					<section class="card-body">
						<h3>Мои газетные статьи</h3>
					</section>
				</a>
			</div>
		</div>

		<div class="row photos section-title">
			<a href="/photos/"><h2>Фотографии</h2></a>
		</div>
		<div class="row photos cards">
			<div class="col-sm-12 col-md-6 col-lg-4">
				<a class="card" href="/photos/personal">
					<section class="card-body">
						<h3>Личные</h3>
					</section>
				</a>
			</div>
			<div class="col-sm-12 col-md-6 col-lg-4">
				<a class="card" href="/photos/work">
					<section class="card-body">
						<h3>На работе</h3>
					</section>
				</a>
			</div>
			<div class="col-sm-12 col-md-6 col-lg-4">
				<a class="card" href="/photos/travel">
					<section class="card-body">
						<h3>Из странствий</h3>
					</section>
				</a>
			</div>
		</div>
	</div> -->

	<footer class="main index">
		<div id="copyright" class="container">
			<p>&copy; Данченков М.А. Все права защищены.</p>
		</div>
	</footer>