<div class="index container">
	<header>
		<h1><strong>Данченков Михаил Алексеевич</strong>, океанограф <nobr style="white-space: nowrap">(2.1.1950 Сучан — Владивосток)</nobr></h1>
	</header>

	<div class="row deck">
		<div class="col-12">
			<p><strong>Школы:</strong> Тенькинская (Усть-Омчуг, 1957, 1961–1964), Ольская (1965), СШ-1 Магадана (1966-1967).</p>
			<p><strong>Высшее образование:</strong> ДВГУ: Отд.океанологии (1967-1972).</p>
			<p><strong>Работа:</strong> ТОИ ДВНЦ (1973–1993). Аспирантура (1973-1975). <nobr style="white-space: nowrap">Диссертация — Течения Филиппинского моря (1988).</nobr> <nobr style="white-space: nowrap">ДВНИГМИ (1972-1973, 1993–2019).</nobr></p>
			<p><strong>Организатор программ</strong> CREAMS (1993-2001) и ARGO (1999-2006 в РФ).</p>
		</div>
	</div>

	<div class="row organizations section-title">
		<a href="/organizations/"><h2>Организации</h2></a>
	</div>
	<div class="row organizations cards">
		<div class="col-sm-12 col-md-6 col-lg-4">
			<a class="card" href="/organizations/schools">
				<section class="card-body">
					<h3>Школы</h3>
					<ul>
						<li>ТСШИ-воспоминания</li>
						<li>СШ-1 Магадана-воспоминания
							<ul>
								<li>список учеников</li>
								<li>список учителей</li>
							</ul>
							<li>Ольская ШИ</li>
						</ul>
					</section>
				</a>
			</div>
			<div class="col-sm-12 col-md-6 col-lg-4">
				<a class="card" href="/organizations/dvgu">
					<section class="card-body">
						<h3>ДВГУ</h3>
						<ul>
							<li>Воспоминания</li>
							<li>Однокурсники</li>
						</ul>
					</section>
				</a>
			</div>
			<div class="col-sm-12 col-md-6 col-lg-4">
				<a class="card" href="/organizations/dvnigmi">
					<section class="card-body">
						<h3>ДВНИГМИ</h3>
						<ul>
							<li>Воспоминания</li>
							<li>Состав экспедиций</li>
							<li>Эффективность работы НИС</li>
						</ul>
					</section>
				</a>
			</div>
			<div class="col-sm-12 col-md-6 col-lg-4">
				<a class="card" href="/organizations/toi">
					<section class="card-body">
						<h3>ТОИ</h3>
						<ul>
							<li>Воспоминания</li>
							<li>Состав экспедиций</li>
							<li>Эффективность работы НИС</li>
						</ul>
					</section>
				</a>
			</div>
		</div>

		<div class="row programs section-title">
			<a href="/programs/"><h2>Программы</h2></a>
		</div>
		<div class="row programs cards">
			<div class="col-sm-12 col-md-6 col-lg-4">
				<a class="card" href="/programs/argo">
					<section class="card-body">
						<h3>Арго</h3>
					</section>
				</a>
			</div>
			<div class="col-sm-12 col-md-6 col-lg-4">
				<a class="card" href="/programs/japan_sea">
					<section class="card-body">
						<h3>Японское море</h3>
					</section>
				</a>
			</div>
			<div class="col-sm-12 col-md-6 col-lg-4">
				<a class="card" href="/programs/peter_the_great_gulf">
					<section class="card-body">
						<h3>Залив Петра Великого</h3>
					</section>
				</a>
			</div>
			<div class="col-sm-12 col-md-6 col-lg-4">
				<a class="card" href="/programs/zolotoi_rog">
					<section class="card-body">
						<h3>Золотой рог</h3>
					</section>
				</a>
			</div>
			<div class="col-sm-12 col-md-6 col-lg-4">
				<a class="card" href="/programs/strait_of_laperouse">
					<section class="card-body">
						<h3>Пролив Лаперуза</h3>
					</section>
				</a>
			</div>
			<div class="col-sm-12 col-md-6 col-lg-4">
				<a class="card" href="/programs/tumangan">
					<section class="card-body">
						<h3>Туманган</h3>
					</section>
				</a>
			</div>
			<div class="col-sm-12 col-md-6 col-lg-4">
				<a class="card" href="/programs/strait_of_tartary">
					<section class="card-body">
						<h3>Татарский пролив</h3>
					</section>
				</a>
			</div>
		</div>

		<div class="row articles section-title">
			<a href="/articles/"><h2>Статьи и рукописи</h2></a>
		</div>
		<div class="row articles cards">
			<div class="col-sm-12 col-md-6 col-lg-4">
				<a class="card" href="/articles/manuscripts">
					<section class="card-body">
						<h3>Рукописи</h3>
					</section>
				</a>
			</div>
			<div class="col-sm-12 col-md-6 col-lg-4">
				<a class="card" href="/articles/newspaper">
					<section class="card-body">
						<h3>Газетные</h3>
					</section>
				</a>
			</div>
			<div class="col-sm-12 col-md-6 col-lg-4">
				<a class="card" href="/articles/reviews">
					<section class="card-body">
						<h3>Рецензии</h3>
					</section>
				</a>
			</div>
			<div class="col-sm-12 col-md-6 col-lg-4">
				<a class="card" href="/articles/biographic">
					<section class="card-body">
						<h3>Биографические</h3>
						<ul>
							<li>Гомоюнов Константин Азарьевич</li>
							<li>Бирюлин Гавриил Михайлович</li>
							<li>Майдель Эдуард Владимирович</li>
						</ul>
					</section>
				</a>
			</div>
		</div>

		<div class="row research section-title">
			<a href="/research/"><h2>Исследовательские суда</h2></a>
		</div>
		<div class="row research cards">
			<div class="col-sm-12 col-md-6 col-lg-4">
				<a class="card" href="/research/introduction">
					<section class="card-body">
						<h3>Введение</h3>
					</section>
				</a>
			</div>
			<div class="col-sm-12 col-md-6 col-lg-4">
				<a class="card" href="/research/history">
					<section class="card-body">
						<h3>История научного флота</h3>
					</section>
				</a>
			</div>
			<div class="col-sm-12 col-md-6 col-lg-4">
				<a class="card" href="/research/overview">
					<section class="card-body">
						<h3>Обзор литературы</h3>
					</section>
				</a>
			</div>
			<div class="col-sm-12 col-md-6 col-lg-4">
				<a class="card" href="/research/projects">
					<section class="card-body">
						<h3>Заводы и проекты</h3>
					</section>
				</a>
			</div>
			<div class="col-sm-12 col-md-6 col-lg-4">
				<a class="card" href="/research/numbers">
					<section class="card-body">
						<h3>Количество НИС</h3>
					</section>
				</a>
			</div>
			<div class="col-sm-12 col-md-6 col-lg-4">
				<a class="card" href="/research/scientific_vessels">
					<section class="card-body">
						<h3>Ведомственные суда</h3>
					</section>
				</a>
			</div>
			<div class="col-sm-12 col-md-6 col-lg-4">
				<a class="card" href="/research/names">
					<section class="card-body">
						<h3>Имена</h3>
					</section>
				</a>
			</div>
			<div class="col-sm-12 col-md-6 col-lg-4">
				<a class="card" href="/research/list">
					<section class="card-body">
						<h3>Список исследовательских судов</h3>
					</section>
				</a>
			</div>
		</div>

		<div class="row oceanography section-title">
			<a href="/oceanography/"><h2>Океанография и общество</h2></a>
		</div>
		<div class="row oceanography cards">
			<div class="col-sm-12 col-md-6 col-lg-4">
				<a class="card" href="/oceanography/usefulness">
					<section class="card-body">
						<h3>Польза науки о море. Имена</h3>
					</section>
				</a>
			</div>
			<div class="col-sm-12 col-md-6 col-lg-4">
				<a class="card" href="/oceanography/far_east">
					<section class="card-body">
						<h3>ДВ океанография</h3>
					</section>
				</a>
			</div>
			<div class="col-sm-12 col-md-6 col-lg-4">
				<a class="card" href="/oceanography/society">
					<section class="card-body">
						<h3>Океанографическое Общество</h3>
					</section>
				</a>
			</div>
			<div class="col-sm-12 col-md-6 col-lg-4">
				<a class="card" href="/oceanography/newspaper_articles">
					<section class="card-body">
						<h3>Мои газетные статьи</h3>
					</section>
				</a>
			</div>
		</div>

		<div class="row photos section-title">
			<a href="/photos/"><h2>Фотографии</h2></a>
		</div>
		<div class="row photos cards">
			<div class="col-sm-12 col-md-6 col-lg-4">
				<a class="card" href="/photos/personal">
					<section class="card-body">
						<h3>Личные</h3>
					</section>
				</a>
			</div>
			<div class="col-sm-12 col-md-6 col-lg-4">
				<a class="card" href="/photos/work">
					<section class="card-body">
						<h3>На работе</h3>
					</section>
				</a>
			</div>
			<div class="col-sm-12 col-md-6 col-lg-4">
				<a class="card" href="/photos/travel">
					<section class="card-body">
						<h3>Из странствий</h3>
					</section>
				</a>
			</div>
		</div>
	</div>

	<footer class="main index">
		<div id="copyright" class="container">
			<p>&copy; Данченков М.А. Все права защищены.</p>
		</div>
	</footer>