<div class="index container">
	<header>
		<h1><strong>Данченков Михаил Алексеевич</strong>,<br />океанограф. (2.1.1950 Сучан — Владивосток)</h1>
	</header>

	<div class="row deck">
		<div class="col-12">
			<p><strong>Школы:</strong> <br />Тенькинская (Усть-Омчуг, 1957, 1961–1964), Ольская (1965), СШ-1 Магадана (1966-1967).</p>
			<p><strong>Высшее образование:</strong> <br />ДВГУ: Отд.океанологии (1967-1972).</p>
			<p><strong>Работа:</strong> <br />ТОИ ДВНЦ (1973–1993). Аспирантура (1973-1975). Диссертация — Течения Филиппинского моря (1988).</p>
			<p>ДВНИГМИ (1972-1973, 1993–2019).</p>
			<p><strong>Организатор программ CREAMS (1993-2001) и ARGO (1999-2006 в РФ).</strong></p>
		</div>
	</div>

	<div class="row organizations section-title">
		<a href="/organizations/"><h2>Организации</h2></a>
	</div>
	<div class="row organizations cards">
		<div class="col-4 col-6-medium col-12-small">
			<a class="card" href="/organizations/schools/">
				<section class="card-body">
					<h3>Школы</h3>
					<ul>
						<li>ТСШИ-воспоминания</li>
						<li>СШ-1 Магадана-воспоминания
							<ul>
								<li>     список учеников</li>
								<li>     список учителей</li>
							</ul>
							<li>Ольская ШИ</li>
						</ul>
					</section>
				</a>
			</div>
			<div class="col-4 col-6-medium col-12-small">
				<a class="card" href="/organizations/dvgu/">
					<section class="card-body">
						<h3>ДВГУ</h3>
						<ul>
							<li>Воспоминания</li>
							<li>Однокурсники</li>
						</ul>
					</section>
				</a>
			</div>
			<div class="col-4 col-6-medium col-12-small">
				<a class="card" href="/organizations/dvnigmi/">
					<section class="card-body">
						<h3>ДВНИГМИ</h3>
						<ul>
							<li>Воспоминания</li>
							<li>Состав экспедиций</li>
							<li>Эффективность работы НИС</li>
						</ul>
					</section>
				</a>
			</div>
			<div class="col-4 col-6-medium col-12-small">
				<a class="card" href="/organizations/toi/">
					<section class="card-body">
						<h3>ТОИ</h3>
						<ul>
							<li>Воспоминания</li>
							<li>Состав экспедиций</li>
							<li>Эффективность работы НИС</li>
						</ul>
					</section>
				</a>
			</div>
		</div>

		<div class="row programs section-title">
			<h2>Программы</h2>
		</div>
		<div class="row programs cards">
			<div class="col-4 col-6-medium col-12-small">
				<a class="card" href="/programs/argo">
					<section class="card-body">
						<h3>Арго</h3>
					</section>
				</a>
			</div>
			<div class="col-4 col-6-medium col-12-small">
				<a class="card" href="/programs/japan_sea">
					<section class="card-body">
						<h3>Японское море</h3>
					</section>
				</a>
			</div>
			<div class="col-4 col-6-medium col-12-small">
				<a class="card" href="/programs/peter_the_great_gulf">
					<section class="card-body">
						<h3>Залив Петра Великого</h3>
					</section>
				</a>
			</div>
			<div class="col-4 col-6-medium col-12-small">
				<a class="card" href="/programs/zolotoi_rog">
					<section class="card-body">
						<h3>Золотой рог</h3>
					</section>
				</a>
			</div>
			<div class="col-4 col-6-medium col-12-small">
				<a class="card" href="/programs/biographic">
					<section class="card-body">
						<h3>Пролив Лаперуза</h3>
					</section>
				</a>
			</div>
			<div class="col-4 col-6-medium col-12-small">
				<a class="card" href="/programs/tumangan">
					<section class="card-body">
						<h3>Туманган</h3>
					</section>
				</a>
			</div>
			<div class="col-4 col-6-medium col-12-small">
				<a class="card" href="/programs/tatar_straight">
					<section class="card-body">
						<h3>Татарский пролив</h3>
					</section>
				</a>
			</div>
		</div>

		<div class="row articles section-title">
			<h2>Статьи и рукописи</h2>
		</div>
		<div class="row articles cards">
			<div class="col-4 col-6-medium col-12-small">
				<a class="card" href="/articles/publications">
					<section class="card-body">
						<h3>Рукописи</h3>
					</section>
				</a>
			</div>
			<div class="col-4 col-6-medium col-12-small">
				<a class="card" href="/articles/newspaper">
					<section class="card-body">
						<h3>Газетные</h3>
					</section>
				</a>
			</div>
			<div class="col-4 col-6-medium col-12-small">
				<a class="card" href="/articles/reviews">
					<section class="card-body">
						<h3>Рецензии</h3>
					</section>
				</a>
			</div>
			<div class="col-4 col-6-medium col-12-small">
				<a class="card" href="/articles/biographic">
					<section class="card-body">
						<h3>Биографические</h3>
						<ul>
							<li>Гомоюнов Константин Азарьевич</li>
							<li>Бирюлин Гавриил Михайлович</li>
							<li>Майдель Эдуард Владимирович</li>
						</ul>
					</section>
				</a>
			</div>
		</div>

		<div class="row research section-title">
			<h2>Исследовательские суда</h2>
		</div>
		<div class="row research cards">
			<div class="col-4 col-6-medium col-12-small">
				<a class="card" href="/research/introduction">
					<section class="card-body">
						<h3>Введение</h3>
					</section>
				</a>
			</div>
			<div class="col-4 col-6-medium col-12-small">
				<a class="card" href="/research/overview">
					<section class="card-body">
						<h3>Обзор литературы</h3>
					</section>
				</a>
			</div>
			<div class="col-4 col-6-medium col-12-small">
				<a class="card" href="/research/history">
					<section class="card-body">
						<h3>История научного флота</h3>
					</section>
				</a>
			</div>
			<div class="col-4 col-6-medium col-12-small">
				<a class="card" href="/research/projects">
					<section class="card-body">
						<h3>Заводы и проекты</h3>
					</section>
				</a>
			</div>
			<div class="col-4 col-6-medium col-12-small">
				<a class="card" href="/research/scientific_vessels">
					<section class="card-body">
						<h3>Ведомственные суда</h3>
					</section>
				</a>
			</div>
			<div class="col-4 col-6-medium col-12-small">
				<a class="card" href="/research/names">
					<section class="card-body">
						<h3>Имена</h3>
					</section>
				</a>
			</div>
			<div class="col-4 col-6-medium col-12-small">
				<a class="card" href="/research/list">
					<section class="card-body">
						<h3>Список исследовательских судов</h3>
					</section>
				</a>
			</div>
		</div>

		<div class="row oceanography section-title">
			<h2>Статьи и рукописи</h2>
		</div>
		<div class="row oceanography cards">
			<div class="col-4 col-6-medium col-12-small">
				<a class="card" href="/oceanography/usefulness">
					<section class="card-body">
						<h3>Польза науки о море. Имена</h3>
					</section>
				</a>
			</div>
			<div class="col-4 col-6-medium col-12-small">
				<a class="card" href="/oceanography/far_east">
					<section class="card-body">
						<h3>ДВ океанография</h3>
					</section>
				</a>
			</div>
			<div class="col-4 col-6-medium col-12-small">
				<a class="card" href="/oceanography/society">
					<section class="card-body">
						<h3>Океанографическое Общество</h3>
					</section>
				</a>
			</div>
			<div class="col-4 col-6-medium col-12-small">
				<a class="card" href="/oceanography/newspaper_articles">
					<section class="card-body">
						<h3>Мои газетные статьи</h3>
					</section>
				</a>
			</div>
		</div>
	</div>

	<footer class="main index">
		<div id="copyright" class="container">
			<p>&copy; Данченков М.А. Все права защищены.</p>
		</div>
	</footer>