<div class="bio index container">
	<header>
		<h1>Океанография</h1>
	</header>

	<p>Этот раздел — самый для меня трудный, так как эта тема мне менее знакома, чем иные.</p>
	<p>«Океанология простым языком», «для детей», «для чайников», «для домохозяек»?</p>
	<p>Чтобы было введение в предмет?</p>
	<p>С тех пор как с океанографией в закрытой и нищей стране стали связывать дополнительный достаток и заграничные путешествия, океанография развилась в океанологию, к которой отнесли все науки, хоть как то связанные с морями. Океанография не изменилась, а вот число направлений исследований резко возросло.</p>
	<p>Океанология ядерная, квантовая, спутниковая, акустическая, оптическая…</p>
	<p>Как и многие науки в СССР, советская океанография была далека от потребностей общества.</p>
	<p>Даже с потребностями навигации, развития электростанций, охраны биоресурсов рабочих связей не было.</p>
	<p>В Англии созданы действующие электростанции на энергии приливов и волн, в Японии — индустрия марикультуры, в Норвегии- производство линейки океанографических приборов.</p>
	<p>Во всех странах есть Океанографические общества, а в РФ (как и в СССР ранее) – нет.</p>
	<p>Общества не только отмечают достижения, но и объединяют профессионалов со школьниками и любителями.</p>
	<p>Общества позволяют использовать для дела мощные потенциал, знание и опыт неработающих пенсионеров.</p>
	<p>Общества сохранянт история и устраняют ведомственную разобщённость. Когда Общество есть…</p>
	<p>Во всех странах есть соответствующие книги для общества (от популярной океанологии до океанографической энциклопедии), а у нас их только переводят. С опозданием лет на 10…</p>
	<p>Особенно мало известно о дальневосточных учёных.</p>
	<p>Некоторые соображения и факты на эту тему я и свёл в этот раздел.</p>

</div>