<!-- Home -->
<article id="top" class="wrapper">
	<div class="container">
		<header>
			<h1>Данченков <br />Михаил&#160;Алексеевич</h1>
		</header>
	</div>
</article>

<!-- Work -->
<article id="work" class="wrapper">
	<div class="container">
		<header>
			<h2><strong>Данченков Михаил Алексеевич</strong>,<br />океанограф. (2.1.1950 Сучан — Владивосток)</h2>
			<p><strong>Школы:</strong> <br />Тенькинская (Усть-Омчуг, 1957, 1961–1964), Ольская (1965), сш-1 Магадана (1966-1967).</p>
			<p><strong>Высшее образование:</strong> <br />ДВГУ: Отд.океанологии (1967-1972).</p>
			<p><strong>Работа:</strong> <br />ТОИ ДВНЦ (1973–1993). Аспирантура (1973-1975). Диссертация — Течения Филиппинского моря (1988).</p>
			<p>ДВНИГМИ (1972-1973, 1993–2019).</p>
			<p><strong>Организатор программ CREAMS (1993-2001) и ARGO (1999-2006 в РФ).</strong></p>

			<h3 style="margin-top: 2em;">Основные статьи:</h3>
			<dl>
			<dt>1978</dt>
				<dd>&bull; (с Захаровой О.И.) <br />Библиография Куросио. Владивосток. 1978. ДВНЦ. 82с.</dd>
			<dt>1999</dt>
				<dd>&bull; (с Aubrey D., Riser S.C.) <br />Oceanographic features of LaPerouse Strait. PICES Sci.Report, N12, p.159-171.</dd>
			<dt>2000</dt>
				<dd>&bull; (с Aubrey D.G., Hong G.H.) <br />Bibliography of the oceanography of the Japan/East Sea. PICES Sci. Report, N 13, 99pp.</dd>
			<dt>2003</dt>
				<dd>&bull; ARGO project in Russia (part 1). Pacific oceanography, v.1, N1, p.74-75.</dd>
				<dd>&bull; (с Bobkov A.A.) <br />The forgotten names. Pacific oceanography, v.1, N1, p.82-83.</dd>
				<dd>&bull; (с Riser S.C., Yoon J.H.) <br />Deep currents of the central Japan Sea. Pacific oceanography, v.1, N1, p.6–11.</dd>
				<dd>&bull; (с Aubrey D.G., Feldman K.L.) <br />Oceanography of area close to the Tumannaya river mouth (the Japan Sea). Pacific oceanography, v.1, N1, p.61-69.</dd>
				<dd>&bull; Water density of Peter the Great Bay. Pacific oceanography, v.1, N2, p.179-184.</dd>
				<dd>&bull; (с Фельдман К.Л., Файман П.А.) <br />Температура и солёность вод залива Петра Великого. "Гидрометеорология и экология Дальнего Востока". Владивосток, Дальнаука, с.10-25</dd>
			<dt>2004</dt>
				<dd>&bull; Spatial structure of the Tartar Strait waters. Pacific oceanography, v.2, N1-2, p. 20-43.</dd>
			<dt>2007</dt>
				<dd>&bull; (с Lobanov V.B., Riser S.C., Kim K., Takematsu M., Yoon J.H.) <br />A History of  physical oceanographic research in the Japan/East Sea. Oceanography,  v.19, N3, p.20-33.</dd>
			<dt>2012</dt>
				<dd>&bull; Воспоминания.  Сорок дет спустя. Кострома. 2012. с.73-84.</dd>
			<dt>2017</dt>
				<dd>&bull; (с Лобанов В.Б., Соколова В.Е.) <br />К.А. Гомоюнов. У истоков региональной океанографии. Вестник ДВО РАН. 2017, т.1. с.</dd>
			</dl>
		</header>
	</div>
	<div class="container" style="background-color: #ddd; padding: 1.25em 2em; margin-bottom: 4em;">
		<div class="row">
			<div class="col-12">
				<h2>Биография</h2>
			</div>
			<div class="col-4 col-6-medium col-12-small card">
				<section class="card-body">
					<h3>Основное</h3>
					<p>Ornare nulla proin odio consequat sapien vestibulum ipsum primis sed amet consequat lorem dolore.</p>
				</section>
			</div>
			<div class="col-4 col-6-medium col-12-small card">
				<section class="card-body">
					<h3>Автобиография</h3>
					<p>Ornare nulla proin odio consequat sapien vestibulum ipsum primis sed amet consequat lorem dolore.</p>
				</section>
			</div>
			<div class="col-4 col-6-medium col-12-small card">
				<section class="card-body">
					<h3>О школах</h3>
					<p>Ornare nulla proin odio consequat sapien vestibulum ipsum primis sed amet consequat lorem dolore.</p>
				</section>
			</div>
			<div class="col-4 col-6-medium col-12-small card">
				<section class="card-body">
					<h3>О ДВГУ</h3>
					<p>Ornare nulla proin odio consequat sapien vestibulum ipsum primis sed amet consequat lorem dolore.</p>
				</section>
			</div>
			<div class="col-4 col-6-medium col-12-small card">
				<section class="card-body">
					<h3>О ТОИ</h3>
					<p>Ornare nulla proin odio consequat sapien vestibulum ipsum primis sed amet consequat lorem dolore.</p>
				</section>
			</div>
			<div class="col-4 col-6-medium col-12-small card">
				<section class="card-body">
					<h3>О ДВНИГМИ</h3>
					<p>Ornare nulla proin odio consequat sapien vestibulum ipsum primis sed amet consequat lorem dolore.</p>
				</section>
			</div>
		</div>
	</div>
</article>

<!-- Portfolio -->
<!-- <article id="portfolio" class="wrapper style3">
	<div class="container">
		<header>
			<h2>Here’s some stuff I made recently.</h2>
			<p>Proin odio consequat  sapien vestibulum consequat lorem dolore feugiat.</p>
		</header>
		<div class="row">
			<div class="col-4 col-6-medium col-12-small">
				<article class="box style2">
					<a href="#" class="image featured"><img src="images/pic01.jpg" alt="" /></a>
					<h3><a href="#">Magna feugiat</a></h3>
					<p>Ornare nulla proin odio consequat.</p>
				</article>
			</div>
			<div class="col-4 col-6-medium col-12-small">
				<article class="box style2">
					<a href="#" class="image featured"><img src="images/pic02.jpg" alt="" /></a>
					<h3><a href="#">Veroeros primis</a></h3>
					<p>Ornare nulla proin odio consequat.</p>
				</article>
			</div>
			<div class="col-4 col-6-medium col-12-small">
				<article class="box style2">
					<a href="#" class="image featured"><img src="images/pic03.jpg" alt="" /></a>
					<h3><a href="#">Lorem ipsum</a></h3>
					<p>Ornare nulla proin odio consequat.</p>
				</article>
			</div>
			<div class="col-4 col-6-medium col-12-small">
				<article class="box style2">
					<a href="#" class="image featured"><img src="images/pic04.jpg" alt="" /></a>
					<h3><a href="#">Tempus dolore</a></h3>
					<p>Ornare nulla proin odio consequat.</p>
				</article>
			</div>
			<div class="col-4 col-6-medium col-12-small">
				<article class="box style2">
					<a href="#" class="image featured"><img src="images/pic05.jpg" alt="" /></a>
					<h3><a href="#">Feugiat aliquam</a></h3>
					<p>Ornare nulla proin odio consequat.</p>
				</article>
			</div>
			<div class="col-4 col-6-medium col-12-small">
				<article class="box style2">
					<a href="#" class="image featured"><img src="images/pic06.jpg" alt="" /></a>
					<h3><a href="#">Sed amet ornare</a></h3>
					<p>Ornare nulla proin odio consequat.</p>
				</article>
			</div>
		</div>
		<footer>
			<p>Lorem ipsum dolor sit sapien vestibulum ipsum primis?</p>
			<a href="#contact" class="button large scrolly">Get in touch with me</a>
		</footer>
	</div>
</article> -->

<!-- Contact -->
<article id="contact" class="wrapper style4">
	<div class="container medium">
		<!-- <header>
			<h2>Have me make stuff for you.</h2>
			<p>Ornare nulla proin odio consequat sapien vestibulum ipsum.</p>
		</header>
		<div class="row">
			<div class="col-12">
				<form method="post" action="#">
					<div class="row">
						<div class="col-6 col-12-small">
							<input type="text" name="name" id="name" placeholder="Name" />
						</div>
						<div class="col-6 col-12-small">
							<input type="text" name="email" id="email" placeholder="Email" />
						</div>
						<div class="col-12">
							<input type="text" name="subject" id="subject" placeholder="Subject" />
						</div>
						<div class="col-12">
							<textarea name="message" id="message" placeholder="Message"></textarea>
						</div>
						<div class="col-12">
							<ul class="actions">
								<li><input type="submit" value="Send Message" /></li>
								<li><input type="reset" value="Clear Form" class="alt" /></li>
							</ul>
						</div>
					</div>
				</form>
			</div>
			<div class="col-12">
				<hr />
				<h3>Find me on ...</h3>
				<ul class="social">
					<li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
					<li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
					<li><a href="#" class="icon brands fa-dribbble"><span class="label">Dribbble</span></a></li>
					<li><a href="#" class="icon brands fa-linkedin-in"><span class="label">LinkedIn</span></a></li>
					<li><a href="#" class="icon brands fa-tumblr"><span class="label">Tumblr</span></a></li>
					<li><a href="#" class="icon brands fa-google-plus"><span class="label">Google+</span></a></li>
					<li><a href="#" class="icon brands fa-github"><span class="label">Github</span></a></li>

					<li><a href="#" class="icon solid fa-rss"><span>RSS</span></a></li>
					<li><a href="#" class="icon brands fa-instagram"><span>Instagram</span></a></li>
					<li><a href="#" class="icon brands fa-foursquare"><span>Foursquare</span></a></li>
					<li><a href="#" class="icon brands fa-skype"><span>Skype</span></a></li>
					<li><a href="#" class="icon brands fa-soundcloud"><span>Soundcloud</span></a></li>
					<li><a href="#" class="icon brands fa-youtube"><span>YouTube</span></a></li>
					<li><a href="#" class="icon brands fa-blogger"><span>Blogger</span></a></li>
					<li><a href="#" class="icon brands fa-flickr"><span>Flickr</span></a></li>
					<li><a href="#" class="icon brands fa-vimeo"><span>Vimeo</span></a></li>

				</ul>
				<hr />
			</div>
		</div> -->
	</div>
</article>
<footer>
	<div id="copyright" class="container">
		<p>&copy; Данченков М.А. Все права защищены.</p>
	</div>
</footer>