<div class="bio index container">
	<h1>БИОГРАФИЯ</h1>
	<div class="row deck">
		<div class="col-12">
			<p><strong>Школы:</strong> <br />Тенькинская (Усть-Омчуг, 1957, 1961–1964), Ольская (1965), СШ-1 Магадана (1966-1967).</p>
			<p><strong>Высшее образование:</strong> <br />ДВГУ: Отд.океанологии (1967-1972).</p>
			<p><strong>Работа:</strong> <br />ТОИ ДВНЦ (1973–1993). Аспирантура (1973-1975). Диссертация — Течения Филиппинского моря (1988).</p>
			<p>ДВНИГМИ (1972-1973, 1993–2019).</p>
			<p><strong>Организатор программ CREAMS (1993-2001) и ARGO (1999-2006 в РФ).</strong></p>
		</div>
	</div>
	<div class="row cards">
		<div class="col-sm-12 col-md-6 col-lg-4">
			<div class="card">
				<a href="/bio/self">
					<section class="card-body">
						<h3>Автобиография</h3>
					</section>
				</a>
			</div>
		</div>
		<div class="col-sm-12 col-md-6 col-lg-4">
			<div class="card">
				<a href="/bio/schools">
					<section class="card-body">
						<h3>О школах</h3>
					</section>
				</a>
			</div>
		</div>
		<div class="col-sm-12 col-md-6 col-lg-4">
			<div class="card">
				<a href="/bio/dvgu">
					<section class="card-body">
						<h3>О ДВГУ</h3>
					</section>
				</a>
			</div>
		</div>
		<div class="col-sm-12 col-md-6 col-lg-4">
			<div class="card">
				<a href="/bio/toi">
					<section class="card-body">
						<h3>О ТОИ</h3>
					</section>
				</a>
			</div>
		</div>
		<div class="col-sm-12 col-md-6 col-lg-4">
			<div class="card">
				<a href="/bio/dvnigmi">
					<section class="card-body">
						<h3>О ДВНИГМИ</h3>
					</section>
				</a>
			</div>
		</div>
	</div>
</div>