<div class="container">
	<h1>Биография</h1>
	<h2><strong>Данченков Михаил Алексеевич</strong>,<br />океанограф. (2.1.1950 Сучан — Владивосток)</h2>
	<p><strong>Школы:</strong> <br />Тенькинская (Усть-Омчуг, 1957, 1961–1964), Ольская (1965), СШ-1 Магадана (1966-1967).</p>
	<p><strong>Высшее образование:</strong> <br />ДВГУ: Отд.океанологии (1967-1972).</p>
	<p><strong>Работа:</strong> <br />ТОИ ДВНЦ (1973–1993). Аспирантура (1973-1975). Диссертация — Течения Филиппинского моря (1988).</p>
	<p>ДВНИГМИ (1972-1973, 1993–2019).</p>
	<p><strong>Организатор программ CREAMS (1993-2001) и ARGO (1999-2006 в РФ).</strong></p>
</div>
