<nav id="nav" class="navbar sticky-top navbar-expand-lg navbar-light">
	<a class="navbar-brand" href="#"></a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="#bio" id="navbarBio" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">БИОГРАФИЯ</a>
				<div class="dropdown-menu" aria-labelledby="navbarBio">
					<a class="dropdown-item" href="#bio_bsc">Основное</a>
					<div class="dropdown-divider"></div>
					<a class="dropdown-item" href="#bio_slf">Автобиография</a>
					<a class="dropdown-item" href="#bio_sch">О школах</a>
					<a class="dropdown-item" href="#bio_dvg">О ДВГУ</a>
					<a class="dropdown-item" href="#bio_toi">О ТОИ</a>
					<a class="dropdown-item" href="#bio_dvn">О ДВНИГМИ</a>
					<div class="dropdown-divider"></div>
					<a class="dropdown-item" href="#bio_lpn">Есть ли жизнь на пенсии</a>
				</div>
			</li>
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="#relatives" id="navbarRelatives" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">РОДСТВЕННИКИ</a>
				<div class="dropdown-menu" aria-labelledby="navbarRelatives">
					<a class="dropdown-item" href="#">Родители и предки</a>
					<a class="dropdown-item" href="#">Жена</a>
					<a class="dropdown-item" href="#">Мой сын</a>
					<a class="dropdown-item" href="#">Вторая жена</a>
					<a class="dropdown-item" href="#">Сын второй жены</a>
					<a class="dropdown-item" href="#">Сестра и племянницы</a>
					<a class="dropdown-item" href="#">Почти родственники</a>
					<a class="dropdown-item" href="#">Друзья</a>
				</div>
			</li>
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="#articles" id="navbarResearch" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">СТАТЬИ И РУКОПИСИ</a>
				<div class="dropdown-menu" aria-labelledby="navbarResearch">
					<a class="dropdown-item" href="#">Японское море</a>
					<a class="dropdown-item" href="#">Залив Петра Великого</a>
					<a class="dropdown-item" href="#">Арго</a>
					<a class="dropdown-item" href="#">НИС</a>
					<a class="dropdown-item" href="#">Биографические</a>
					<a class="dropdown-item" href="#">Прочие</a>
				</div>
			</li>
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="#photos" id="navbarPhotos" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">ФОТОГРАФИИ</a>
				<div class="dropdown-menu" aria-labelledby="navbarPhotos">
					<a class="dropdown-item" href="#">Личные</a>
					<a class="dropdown-item" href="#">Призводственные</a>
					<a class="dropdown-item" href="#">Путешествия</a>
					<a class="dropdown-item" href="#">Прочее</a>
				</div>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#audio" tabindex="-1" aria-disabled="true">АУДИО/ВИДЕО</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#misc" tabindex="-1" aria-disabled="true">РАЗНОЕ</a>
			</li>
		</ul>
		<form class="form-inline my-2 my-lg-0">
			<input class="form-control mr-sm-2" type="search" placeholder="Поиск" aria-label="Поиск">
			<!-- <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Поиск</button> -->
		</form>
	</div>
</nav>
